<div class="inicio">
    <div class="txtinicio">English online courses with chat.
      <br>The most comfortable way to learn.</div>
    <div class="overlayinicio"></div><img class="imginicio" sizes="100vw" src="images/fotoInicio2.jpg" srcset="images/fotoInicio2-p-500x157.jpeg 500w, images/fotoInicio2-p-800x250.jpeg 800w, images/fotoInicio2-p-1600x500.jpeg 1600w, images/fotoInicio2.jpg 1920w">
    <div class="div-block">
      <a class="linklogin w-inline-block" data-ix="botonlogin" href="#"><img src="images/iconoLogin.png" width="20">
        <div class="txtlogin">Login</div>
      </a><a class="contactinicio w-button" href="#">Contact Us</a>
    </div>
  </div>
  <div class="inicio2">
    <div class="w-row">
      <div class="w-col w-col-4">
        <div class="divicono"><img class="imgicono" src="images/auriculares.png" width="103">
          <h2 class="titicono">Heading</h2>
          <div class="parricono">This is some text inside of a div block.</div>
        </div>
      </div>
      <div class="w-col w-col-4">
        <div class="divicono"><img class="imgicono" src="images/charla.png" width="103">
          <h2 class="titicono">Heading</h2>
          <div class="parricono">This is some text inside of a div block.</div>
        </div>
      </div>
      <div class="w-col w-col-4">
        <div class="divicono"><img class="imgicono" src="images/flechas.png" width="103">
          <h2 class="titicono">Heading</h2>
          <div class="parricono">This is some text inside of a div block.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="inicio3">
    <div class="w-row">
      <div class="w-col w-col-6"></div>
      <div class="w-clearfix w-col w-col-6">
        <div class="_3 txtinicio">English online courses with chat.</div>
        <p class="parrinicio3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p><a class="contactinicio relative w-button" href="#">More about Connections</a>
      </div>
    </div>
  </div>
  <div class="nos">
    <div class="w-row">
      <div class="w-col w-col-4">
        <div class="divnos"><img class="imgnos" src="images/ingNos.png">
          <blockquote class="quote">Block Quote
            <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.&nbsp;</blockquote>
        </div>
      </div>
      <div class="w-col w-col-4">
        <div class="divnos"><img class="imgnos" src="images/ingNos.png">
          <blockquote class="quote">Block Quote
            <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.&nbsp;</blockquote>
        </div>
      </div>
      <div class="w-col w-col-4">
        <div class="divnos"><img class="imgnos" src="images/ingNos.png">
          <blockquote class="quote">Block Quote
            <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.&nbsp;</blockquote>
        </div>
      </div>
    </div>
  </div>