<!--<div ng-controller="MainController">
        Courses: 
        <ul>
            <li ng-repeat="c in courses">
                {{ c.name }} | <span ng-click="enterRoom(c)">Ingresar</span>
            </li>
        </ul>

        <div>        {{messages}}
</div>
        <input type="text" ng-model="message"><button ng-click="sendMessage()">Enviar</button>
    </div>-->

<!-- <div class="course">
    <div class="txtcourse">{{course.name}}</div>
    <div class="txtcourse">Teacher : Emilia García</div>
    <div class="txtcourse" style="background: black; padding: 3px; color: yellow; float: right;" ng-click="voicePlease(course.audioUrl)">INICIAR CONVERSACION</div>
    <div class="divcourse w-clearfix">
      <div class="divinfo w-clearfix">
        <div class="divalllog">
          <div class="encabezado">Logged in</div>
          <div class="divlogeados">
            <div class="msjs txtblackboard">
                <h4>Graciela Cuello</h4>
                <div ng-repeat="user in users">
                    {{user}}
                </div>
              </div>
          </div>
        </div>
        <div class="divallaudio">
          <div class="encabezado">Information</div>
          <div class="divaudio">
            <div class="msjs txtblackboard">Thursday, January 26th, 2017
              <br>15:28 pm
              <br>
              <br>Course : MC2 Initial level
              <br>Days : Tuesday, Thursday
              <br>Schedule : start 15:30 pm to 16:30 pm</div>
          </div>
        </div>
      </div>
      <div class="divchat">
        <div class="encabezado">Messages to the teacher</div>
        <div class="contxtsend">
          <div class="msjenviados">
            <div class="msjs txtblackboard">
                <div ng-repeat="m in messages">
                    {{ m }}
                </div>
            </div>
          </div>
          <div class="divsendtxt">
            <div class="formwrapper w-form">
              <form class="form"  id="email-form-2" >
                <input class="message w-input" id="field" ng-model="message" maxlength="256" name="field" placeholder="Send message to the teacher" required="required" type="text">
                <input class="send w-button" data-wait="Please wait..." type="submit" ng-click="sendMessage()" value="Send">
              </form>
              <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="divallblackboard">
      <div class="encabezado">Blackboard</div>
      <div class="divblackboard">
        <div class="txtblackboard">
            <div ng-repeat="m in teacher">
                <div> {{m}} </div>
            </div>
        </div>
      </div>
      <div class="divsendtxt">
        <div class="formwrapper w-form">
          <form class="form" id="email-form-2">
            <input class="message w-input"  id="field-2" maxlength="256" ng-model="teacherField" name="field-2" placeholder="Send message to blackboard" required="required" type="text">
            <input class="send w-button" data-wait="Please wait..." ng-click="teacherTalks()" type="submit" value="Send">
          </form>
          <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form</div>
          </div>
        </div>
      </div>
    </div>
  </div>     -->

  <div class="course">      
      <input id="sessionInput" ng-model="course.name" style="display: none;"/>
      <button type="submit" id="activar" ng-click="activateCourse()">Activar curso</button>
      <button style="display: inline;" id="screenShareButton">Compartir pantalla</button>


    <div class="wrapper">
      <div class="arriba">
        <div class="row-3 w-row">
          <div class="column-4 w-col w-col-3">
            <div class="titsec">Info</div>
            <div class="info2">
              <div class="txtcourse">{{course.name}}</div>
              <div class="txtcourse">Teacher : Emilia García</div>
              <div class="txtblackboard msjs">Thursday, January 26th, 2017<br>15:28 pm<br><br>Days : Tuesday, Thursday<br>Schedule : start 15:30 pm to 16:30 pm</div>
            </div>
          </div>
          <div class="column-5 w-col w-col-6">
              
            <div class="video" id="remotes"></div>
          </div>
          <div class="column-6 w-col w-col-3">
            <div class="titsec">Logged in</div>
            <div class="logged">
              <div class="txtblackboard msjs">Supervisor : Graciela Cuello<br>Teacher : Emilia García &lt;<br>Pupil : Gustavo Trovant &lt;<br>Pupil : Ramiro Trovant</div>
              <div ng-repeat="user in users">
                {{user}}
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="abajo">
        <div class="row-4 w-row">
          <div class="column-7 w-col w-col-6">
            <div class="blackboard">
              <div class="titsec">Blackboard</div>
              <div class="bboard">
                  <div ng-repeat="m in teacher">
                      <div> {{m}} </div>
                  </div>
                  
              </div>
              <div class="contsend w-clearfix"><a class="botonsend w-button" ng-click="teacherTalks()">Send</a>
                <div class="sendmsje">
                  <input ng-model="teacherField" type="text">
                </div>
              </div>
            </div>
          </div>
          <div class="column-8 w-col w-col-6">
            <div class="chat">
              <div class="titsec">Messages to the instructor</div>
              <div class="bboard">
                  <div ng-repeat="m in messages">
                      {{ m }}
                  </div>
              </div>
              <div class="msjs"></div>
              <div class="contsend w-clearfix"><a class="botonsend w-button" ng-click="sendMessage()">Send</a>
                <div class="sendmsje">
                  <input ng-model="message" type="text" >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>